.navigation {
	margin:0px 0px 0px 0px;
	border:1px solid #ffffff;
}
.ddsmoothmenu{
	font-size:12px;
	float:left;
	margin-left:10px;
}

.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
display: block;
color: white;
padding: 14px 15px;
border-right: 1px solid #ffffff;
color: #2d2b2b;
text-decoration: none;
text-transform:uppercase;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color: white;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background-color:#17b739;
}

.ddsmoothmenu ul li a:hover{
color: #17b739;
background-color:#ffffff;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 0;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
background-color:#17b739;
margin-top:-1px;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
}
.ddsmoothmenu ul li ul li:hover{
background-color:#ffffff;
color:#17b739;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
width: 160px; /*width of sub menus*/
padding:8px 10px 8px 25px;
margin: 0;
border:none;
color:#f8d2d2 !important;
background-image:url(../images/dropdown.gif);
background-position:10px 13px;
background-repeat:no-repeat;
border-bottom:#ffffff solid 1px;
}
.ddsmoothmenu ul li ul li a:hover{
	background-color:#ffffff !important;
	color:#17b739 !important;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/

}
